 <VirtualHost *:80>
    ServerName redmine.mondomaine.com
    DocumentRoot /usr/share/redmine/public   
       
    <Directory /usr/share/redmine/public/>
                AllowOverride all
                Order allow,deny
                allow from all
                Options -MultiViews
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error_redmine.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/access_redmine.log combined

 </VirtualHost>
