production:
  adapter: mysql2
  database: {{ redmine_database_name }}
  host: localhost
  port: 3306
  username: {{ redmine_database_user }}
  password: {{ redmine_database_password }}
  encoding: utf8


